<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
</head>
<body>
<div>

    <form action="/list/filter" method="post">
        Fraza: <input type="text" name="key">
        <input type="submit" value="Wyślij">
    </form>


    <div th:each="prod : ${lists}">
        <span th:text="${prod.getName()}"></span>
        <span th:text="${prod.getSurname()}"></span>
        <span th:text="${prod.getTelephone()}"></span>

        <a th:href="'/delete/' + ${prod.getTelephone()}">Usuń</a>
    </div>

</div>
</body>
</html>